*{
    margin: 0px;
    padding: 0px;
     font-family: sans-serif;
}

body
{
    background-image: url(balloons.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    
}
.form 
{
    background-color: black;
    width: 300px;
    height: 450px;
    border-radius: 30px;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.form form
{
    display: block;
    color: azure;
    padding: 30px;
    padding-top: 0px;
    
}
.form input[type="text"] , input[type="password"]
{
    margin: 11px 10px;
    color: azure;
    border: none;
    border-bottom:1px solid azure;
    background: transparent ;
    height: 20px;
    display: block;
    width: 220px;
    outline: none;
    font-size: 16px;
    

    
   
}
.form h1
{
    text-align: center;
    font-family: serif;
    margin: 0;
    padding: 20;
    
}
.form input[type="submit"]
{
    
    color: azure;
    border: none;
    font-size: 15px;
    background-color: coral;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    padding: 5px 10px;
   
    position: relative;
    margin: 35px 0 0 30px ;
    
    
   
}
.form input[type="submit"]:hover
{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}